# Node
node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/Cargo.lock

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
*.log

# Env
.env
.env.*
vitest.config.ts.timestamp-*.mjs
